:root {
    --bg-color: #cfcfcf;
    --text-color: #333;
    --header-bg: #2C3E50;
    --header-text: #ffffff;
    --map-bg: #2C3E50;
    --footer-bg: #2C3E50;
    --footer-text: #ffffff;
    --sidebar-bg-hover: #415a74;
    --sidebar-text: #ffffff;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --header-bg: #1e1e1e;
    --header-text: #ffffff;
    --map-bg: #1e1e1e;
    --footer-bg: #1e1e1e;
    --footer-text: #ffffff;
    --sidebar-bg-hover: #303030;
    --sidebar-text: #ffffff;
}

body.dark-mode{
    background-color: var(--bg-color);
    color: var(--text-color);
}