.train-sidebar{
    width: 250px;
    height: 550px;
    color: var(--sidebar-text);
    padding: 15px;
    margin-right: 10px;
    overflow-y: auto;
}

.train-sidebar h2{
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

.train-sidebar ul{
    list-style: none;
    padding: 0;
}

.train-sidebar li{
    padding: 10px;
    border-bottom: 1px solid #444;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.train-sidebar li:hover{
    background-color: var(--sidebar-bg-hover);
    transform: scale(1.02);
}

.train-sidebar strong{
    color: #ddd;
}

.empty-message{
    text-align: center;
    color: #888;
    font-style: italic;
    padding: 20px;
}

.train-sidebar::-webkit-scrollbar {
    width: 6px;
}

.train-sidebar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.train-sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.train-sidebar::-webkit-scrollbar-track {
    background: transparent;
}